<h1>Seja bem-vindo!</h1>
<p>Miguel B.</p>

<p>A soma é: <%= 1 + 1 %></p>
<p>Seu nome de trás pra frente é: <%= "Miguel".reverse %></p>

<% a = 'minha variavel a' %>
<p>Imprimindo a variavel a: <%= a %></p>
<p>A data de hoje é: <%= Date.today %></p>